<!DOCTYPE html>
<html style="background-color:black; color:white;">

<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>

<body>
    {{> header}}
    <p>{{welcomeMessage}}</p>
    <p>Some text here hello hi bla lorem ipsum </p>

    {{> footer}}
</body>

</html>